body {
    background-color: #dbb4fa;
    background-image: url('images/train_background.gif'); /* Replace with your GIF's path */
    background-size: cover; /* Scales the background image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the GIF from repeating */
    background-position: center center; /* Centers the GIF horizontally and vertically */
    height: 80%; /* Ensures the container takes up the full viewport height */
    margin: 0; /* Removes default body margin */
}

.title {
    text-align: center;
    font-size: 400%;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.main {
    text-align: center;
    font-size: 200%;
    margin-top: 2%;
    margin-left:15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
}



@media (max-width: 768px) {
    body{
    font-size: 10px;
    }

    .title {
    font-size: 400%;
    margin-top: 100px;
    }

}



